.sec-grid .box{
  background-color: var(--white-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.sec-grid .box>div:nth-of-type(1){
  align-self: flex-start;
}
.sec-grid .box>div:nth-of-type(1) i{
  font-size: 1rem;
  color: #666;
  background-color:#eee;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.sec-grid .box>div:nth-of-type(1) i:hover{
  color: var(--white-color);
  background-color: var(--blue-color);
}
.sec-grid .box>div:nth-of-type(2){
  width: 100%;
  align-self: center;
  text-align: center;
}
.sec-grid .box img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.box h2{
  font-size: 18px;
}
.box h2+p{
  font-size: 14px;
  margin: 10px 0;
  color: var(--grey-color);
}

.sec-grid .box>div:nth-of-type(3){
  padding: 20px 0;
  margin: 1rem 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.sec-grid .box>div:nth-of-type(3)>div:not(:last-of-type){
  margin-bottom: 10px;
}
.sec-grid .box>div:nth-of-type(3) i{
  font-weight: 900;
}
.sec-grid .box>div:nth-of-type(4){
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
span.date{
  color: var(--grey-color);
  font-size: 14px;
}
.sec-grid .box>div:nth-of-type(4) a{
  color: var(--white-color);
  padding: 4px 6px;
  margin-right: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
a.profile{
  background-color: var(--blue-color);
}
a.remove{
  background-color: var(--red-color);
}